#
# Serverus FileServer (Apaxy MOD)
# Read this for Mods:
# http://apache.org/docs/2.2/mod/mod_autoindex.html

	Options +Indexes
	IndexOptions +Charset=UTF-8 +FancyIndexing +IgnoreCase +FoldersFirst +XHTML +HTMLTable +SuppressRules +SuppressDescription +NameWidth=* +IconsAreLinks

    	IndexHeadInsert "<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />"

    IndexIgnore .htaccess /serverus/stheme

	AddIcon /serverus/stheme/icons/blank.png ^^BLANKICON^^
	AddIcon /serverus/stheme/icons/folder7.png ^^DIRECTORY^^
	AddIcon /serverus/stheme/icons/folder-home1.png ..
	
	AddIconByType (TXT,/serverus/stheme/icons/text2.png) text
	AddIconByType (IMG,/serverus/stheme/icons/image1.png) image/*
	AddIconByType (SND,/serverus/stheme/icons/audio.png) audio/*
	AddIconByType (VID,/serverus/stheme/icons/video1.png) video/*

	AddIcon /serverus/stheme/icons/folder.png .MEDIA
	AddIcon /serverus/stheme/icons/archive.png .7z .bz2 .cab .gz .tar
	AddIcon /serverus/stheme/icons/audio.png .aac .aif .aifc .aiff .ape .au .flac .iff .m4a .mid .mp3 .mpa .ra .wav .wma .f4a .f4b .oga .ogg .xm .it .s3m .mod
	AddIcon /serverus/stheme/icons/bin.png .bin .hex
	AddIcon /serverus/stheme/icons/bmp.png .bmp
	AddIcon /serverus/stheme/icons/c.png .c
	AddIcon /serverus/stheme/icons/calc.png .xlsx .xlsm .xltx .xltm .xlam .xlr .xls .csv
	AddIcon /serverus/stheme/icons/cd.png .iso
	AddIcon /serverus/stheme/icons/cpp.png .cpp
	AddIcon /serverus/stheme/icons/css.png .css .sass .scss
	AddIcon /serverus/stheme/icons/deb.png .deb
	AddIcon /serverus/stheme/icons/doc.png .doc .docx .docm .dot .dotx .dotm .log .msg .odt .pages .rtf .tex .wpd .wps
	AddIcon /serverus/stheme/icons/draw.png .svg .svgz
	AddIcon /serverus/stheme/icons/eps.png .ai .eps
	AddIcon /serverus/stheme/icons/gif.png .gif
	AddIcon /serverus/stheme/icons/h.png .h
	AddIcon /serverus/stheme/icons/html.png .html .xhtml .shtml .htm .URL .url
	AddIcon /serverus/stheme/icons/ico.png .ico
	AddIcon /serverus/stheme/icons/java.png .jar
	AddIcon /serverus/stheme/icons/jpg.png .jpg .jpeg .jpe
	AddIcon /serverus/stheme/icons/js.png .js .json
	AddIcon /serverus/stheme/icons/markdown.png .md
	AddIcon /serverus/stheme/icons/package.png .pkg .dmg
	AddIcon /serverus/stheme/icons/pdf.png .pdf
	AddIcon /serverus/stheme/icons/php.png .php .phtml
	AddIcon /serverus/stheme/icons/playlist.png .m3u .m3u8 .pls .pls8
	AddIcon /serverus/stheme/icons/png.png .png
	AddIcon /serverus/stheme/icons/ps.png .ps
	AddIcon /serverus/stheme/icons/psd.png .psd
	AddIcon /serverus/stheme/icons/py.png .py
	AddIcon /serverus/stheme/icons/rar.png .rar
	AddIcon /serverus/stheme/icons/rb.png .rb
	AddIcon /serverus/stheme/icons/rpm.png .rpm
	AddIcon /serverus/stheme/icons/rss.png .rss
	AddIcon /serverus/stheme/icons/script.png .bat .cmd .sh
	AddIcon /serverus/stheme/icons/sql.png .sql
	AddIcon /serverus/stheme/icons/tiff.png .tiff .tif
	AddIcon /serverus/stheme/icons/text2.png .txt .nfo
	AddIcon /serverus/stheme/icons/video.png .asf .asx .avi .flv .mkv .mov .mp4 .mpg .rm .srt .swf .vob .wmv .m4v .f4v .f4p .ogv
	AddIcon /serverus/stheme/icons/xml.png .xml
	AddIcon /serverus/stheme/icons/zip.png .zip .ZIP
	AddIcon /serverus/stheme/icons/apk.png .apk .APK
	AddIcon /serverus/stheme/icons/msi.png .msi .MSI .exe .EXE
	AddIcon /serverus/stheme/icons/dll.png .dll .DLL
	AddIcon /serverus/stheme/icons/key.png .key .KEY
	AddIcon /serverus/stheme/icons/ini.png .ini .INI
	DefaultIcon /serverus/stheme/icons/default.png

	HeaderName /serverus/stheme/up.html
	ReadmeName /serverus/stheme/down.html
	IndexStyleSheet "/serverus/stheme/style.css"
	
	
